{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="wrapper-content">
        <div class="row">
            <div class="col-md-6 ">
                <img src="/static/image/aboutUs/aboutUsFirst.svg" class="about-image-first" >
            </div>

            <div class="col-md-6">
                <div class="text-box1">
                    <h2 class="title-content">ABOUT BUTTANEPAL™</h2>
                </div>
                <div class="paragraph-box">
                    <p>ButtaNepal™ (estd. 2021) is a print-on-</p>
                    <p>demand company that allows anybody</p>
                    <p>to order a custom printed T-shirt for any </p>
                    <p>purpose.</p>

                </div>
                <div class="button">
                    <a href="#" class="btn-One">Order A Custom T-Shirt --></a>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="container mx-5 pb-5 pt-5">
    <div class="heading">
        <h2 class="title-content">OUR TEAM</h2>
    </div>

    <div class="icon">
        <img src="/static/image/aboutUs/seperator.svg" class="img-fluid">
    </div>
    <div class="text">
        <p>Meet our team behind Butta Nepal</p>
    </div>
    <div class="row">


        <div class="col-sm-3 col-sm-4 ">
            <div class="our-team">

                <div class="pic">
                    <img src="/static/image/aboutUs/prashant.svg" alt="team-member" class="img-fluid">

                </div>
                <div class="content">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="name">
                <h3>PRASHANTA</h3>
            </div>
        </div>

        <div class="col-sm-3 col-sm-4">
            <div class="our-team">
                <div class="pic">
                    <img src="/static/image/aboutUs/prashant.svg" alt="team-member" class="img-fluid">

                </div>
                <div class="content">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="name">
                <h3>PRASHANTA</h3>
            </div>
        </div>

        <div class="col-sm-3 col-sm-4">
            <div class="our-team">
                <div class="pic">
                    <img src="/static/image/aboutUs/prashant.svg" alt="team-member" class="img-fluid">

                </div>
                <div class="content">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="name">
                <h3>PRASHANTA</h3>
            </div>
        </div>

        <div class="col-sm-3 col-sm-4">
            <div class="our-team">
                <div class="pic">
                    <img src="/static/image/aboutUs/prashant.svg" alt="team-member" class="img-fluid">
                </div>
                <div class="content">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="name">
                <h3>PRASHANTA</h3>
            </div>
        </div>

        <div class="col-sm-3 col-sm-4">
            <div class="our-team">
                <div class="pic">
                    <img src="/static/image/aboutUs/prashant.svg" alt="team-member" class="img-fluid">
                </div>
                <div class="content">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="name">
                <h3>PRASHANTA</h3>
            </div>
        </div>

        <div class="col-sm-3 col-sm-4">
            <div class="our-team">
                <div class="pic">
                    <img src="/static/image/aboutUs/prashant.svg" alt="team-member" class="img-fluid">
                </div>
                <div class="content">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="name">
                <h3>PRASHANTA</h3>
            </div>
        </div>
    </div>
</div>







<div class="container-md-auto pt-5 pb-5 my-5">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="text-box">
                    <h2 class="title-content">FIND US ON SOCIAL MEDIA</h2>
                </div>
                <div class="paragraph-box">
                    <p>Follow us on social media to be the first one</p>
                    <p>to get notified when we announce a sale,</p>
                    <p>announce a discount code or organize</p>
                    <p>product giveaways.</p><br>
                    <p>Here are our social handles:</p>
                </div>
                <div class="social-icons">
                    <a href="#" class="mx-2"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="mx-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="mx-2"><i class="fab fa-facebook-messenger"></i></a>

                </div>

            </div>
            <div class="col-md-6">
                <img src="/static/image/aboutUs/aboutUs.svg" class="about-image">
            </div>
        </div>
    </div>

</div>

{% endblock %}