{% extends 'base.html' %}
{% block content %}


<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col py-5"
                style="background-image:url('/static/image/index/background.svg');background-repeat: no-repeat;background-size:cover; background-position: center;height:50%">
                <div class="d-flex py-4 justify-content-center">
                    <h1 class="title">ABOUT US</h1>
                </div>

            </div>

        </div>

    </div>

<div class="container">
    <div class="wrapper-content">
        <div class="row">
            <div class="col-md-6">
                <img src="/static/image/aboutUs/aboutUsFirst.svg" class="about-image-first" >
            </div>

            <div class="offset-1 col-md-4">
                <div class="text-box1">
                    <h2 class="title-content ms-lg-4">ABOUT BUTTANEPAL™</h2>
                </div>
                <div class="paragraph-box mt-1">
                    <p>ButtaNepal™ (estd. 2021) is a print-on-</p>
                    <p>demand company that allows anybody</p>
                    <p>to order a custom printed T-shirt for any </p>
                    <p>purpose.</p>

                </div>
                <div class="button-about">
                    <a href="/productpage/" class="btn-One mx-lg-4">Order A Custom T-Shirt --></a>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="container pb-5 pt-5" style="background-color:#ffffff">
    <div class="heading">
        <h2 class="title-content">OUR TEAM</h2>
    </div>

    <div class="icon">
        <img src="/static/image/aboutUs/seperator.svg" class="img-fluid">
    </div>
    <div class="text my-2">
        <p class="pb-2" style="font-size:20px">Meet our team behind Butta Nepal</p>
    </div>
    <div class="row pt-5">
        <div class="col-sm-4 ">
            <div class="our-team">

                <div class="pic">
                    <img src=".." alt="team-member" class="img-fluid">

                </div>
                <div class="content">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/prashantxtim"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/prashantxtim/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="name">
                <h3>PRASHANTA</h3>
            </div>
        </div>

        <div class="col-sm-3 col-sm-4">
            <div class="our-team">
                <div class="pic">
                    <img src="/static/image/Team/Prashant.jpg" alt="team-member" class="img-fluid">

                </div>
                <div class="content">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/magar.prashant.79/"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/magarprashant001/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="name">
                <h3>PRASHANT</h3>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="our-team">
                <div class="pic">
                    <img src="/static/image/Team/Bhupraj.jpg" alt="team-member" class="img-fluid">

                </div>
                <div class="content">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/bhupraj.tamang"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/bhuprajtamang/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="name">
                <h3>BHUPRAJ</h3>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="our-team">
                <div class="pic">
                    <img src="/static/image/Team/Kishan1.jpg" alt="team-member" class="img-fluid">
                </div>
                <div class="content">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/kishan.jaiswal.9862"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="name">
                <h3>KISHAN</h3>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="our-team">
                <div class="pic">
                    <img src="..." alt="team-member" class="img-fluid">
                </div>
                <div class="content">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/profile.php?id=100009981937090"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/subina.khadka/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="name">
                <h3>SUBINA</h3>
            </div>
        </div>

        <div class="col-sm-3 col-sm-4">
            <div class="our-team">
                <div class="pic">
                    <img src="/static/image/Team/Rakshya1.jpg" alt="team-member" class="img-fluid">
                </div>
                <div class="content">
                    <ul class="social">
                        <li><a href="https://www.facebook.com/profile.php?id=100070012305733"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/bhatta_rakshya/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="name">
                <h3>RAKSHYA</h3>
            </div>
        </div>
    </div>
</div>




<div class="container pt-5 pb-5 my-5">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-6">
                <div class="text-box">
                    <h2 class="title-content">FIND US ON SOCIAL MEDIA</h2>
                </div>
                <div class="paragraph-box">
                    <p>Follow us on social media to be the first one</p>
                    <p>to get notified when we announce a sale,</p>
                    <p>announce a discount code or organize</p>
                    <p>product giveaways.</p><br>
                    <p>Here are our social handles:</p>
                </div>
                <div class="social-icons">
                    <a href="#" class="mx-2"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="mx-2"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="mx-2"><i class="fab fa-facebook-messenger"></i></a>

                </div>

            </div>
            <div class="col-md-6">
                <img src="/static/image/aboutUs/aboutUs.svg" class="about-image">
            </div>
        </div>
    </div>

</div>

{% endblock %}