{% extends 'base.html' %}
{% block content %}


<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col py-5"
                style="background-image:url('/static/image/index/background.svg');background-repeat: no-repeat;background-size:cover; background-position: center;height:50%">
                <div class="d-flex py-4 justify-content-center">
                    <h1 class="title">ABOUT US</h1>
                </div>

            </div>

        </div>

    </div>

<div class="container">
    <div class="wrapper-content">
        <div class="row">
            <div class="col-md-6 ">
                <img src="/static/image/aboutUs/aboutUsFirst.svg" class="about-image-first" >
            </div>

            <div class="col-md-6">
                <div class="text-box1">
                    <h2 class="title-content ms-lg-4">ABOUT BUTTANEPAL™</h2>
                </div>
                <div class="paragraph-box mt-1">
                    <p>ButtaNepal™ (estd. 2021) is a print-on-</p>
                    <p>demand company that allows anybody</p>
                    <p>to order a custom printed T-shirt for any </p>
                    <p>purpose.</p>

                </div>
                <div class="button-about">
                    <a href="#" class="btn-One mx-lg-4">Order A Custom T-Shirt --></a>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="container mx-5 pb-5 pt-5">
    <div class="heading">
        <h2 class="title-content">OUR TEAM</h2>
    </div>

    <div class="icon">
        <img src="/static/image/aboutUs/seperator.svg" class="img-fluid">
    </div>
    <div class="text my-2">
        <p class="pb-2" style="font-size:20px">Meet our team behind Butta Nepal</p>
    </div>
    <div class="row pt-5">
        <div class="col-sm-4 ">
            <div class="our-team">

                <div class="pic">
                    <img src="/static/image/aboutUs/prashant.svg" alt="team-member" class="img-fluid">

                </div>
                <div class="content">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="name">
                <h3>PRASHANTA</h3>
            </div>
        </div>

        <div class="col-sm-3 col-sm-4">
            <div class="our-team">
                <div class="pic">
                    <img src="/static/image/aboutUs/prashant.svg" alt="team-member" class="img-fluid">

                </div>
                <div class="content">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="name">
                <h3>PRASHANTA</h3>
            </div>
        </div>



{% endblock %}