@font-face {
    font-family: 'Spoof';
    src: local('Spoof Regular'), local('font/Spoof-Regular'),
        url('font/Spoof-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spoof-bold';
    src: local('Spoof Bold'), local('font/Spoof-Bold'),
        url('font/Spoof-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Spoof-mid';
    src: local('Spoof Bold'), local('font/Spoof-Bold'),
        url('font/Spoof-Medium.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

.heading-log {
    font-family: Spoof-mid;
    font-weight: 100;
    font-size: 45px;
    color: #0066CA;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Spoof;
    font-weight: 200;

}

body {
    background-color: #dbd6d6;
}

.row {
    background-color: white;
    border-radius: 15px;
}

img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

input[type="email"] {
    height: 45px;
    border: 0px;
    outline: 0px;
    background: #DCDCDC;
    border-radius: 18.5828px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

input[type="password"] {
    height: 45px;
    border: 0px;
    outline: 0px;
    background: #DCDCDC;
    border-radius: 18.5828px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

label {
    font-size: 20px;
}

button {
    background-color: #0066CA;
    color: white;
    border: 0px;
    outline: 0px;
    border-radius: 16px;
    height: 50px;
    width: 100%;
    /* font-size: 20px;/ */
}

.btn-google-signup {
    background-color: #0066CA;
    color: white;
    border: 0px;
    outline: 0px;
    border-radius: 16px;
    height: 50px;
    width: 100%;
}

.forget-lbl {
    font-size: 16px;
}