<html>

<head>
    <title>Order a T-shirt | ButtaNepal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="viewproduct.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/eafbf77353.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col py-5" style="background-image: url(/ProductPage/Butta\ Nepal\ Header.png) ;background-repeat: no-repeat;background-size:cover; background-position: center;height:50%">
                <div class="d-flex py-4 justify-content-center">
                <h1 class="title">ORDER A T-SHIRT</h1>
            </div>

            </div>

        </div>

    </div>

    <div class="container">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-6 ">
                    <img src="/ProductPage/Butta Nepal/product-image.png" class="about-image">
                </div>

                <div class="col-md-6">
                    <div class="text-box1">
                        <h1 class="heading">BUTTANEPAL™ CUSTOM T-SHIRT</h1>
                    </div>
                    <div class="paragraph-box1">
                        <h1 style="color: #0066ca; margin-top: -15px; margin-bottom: 20px;">$US19.99</h1><span style="color: #0066ca;" class="fa fa-star checked"></span>
                        <span style="color: #0066ca;" class="fa fa-star checked"></span>
                        <span style="color: #0066ca;" class="fa fa-star checked"></span>
                        <span style="color: #0066ca;" class="fa fa-star checked"></span>
                        <span style="color: #0066ca;" class="fa fa-star checked"></span> &nbsp; <u>508 Reviews</u> <br><br><br>
                        <p><i style="color: #0066ca;" class="fas fa-shipping-fast"></i> &nbsp;Free & Tracked Worldwide Shipping</p>
                        <!-- <p>demand company that allows anybody</p>
                        <p>to order a custom printed T-shirt for any </p>
                        <p>purpose.</p> -->
                        <br><br>
                        <div class="button">
                            <a class="btn-One"> ⇣ &nbsp;UPLOAD YOUR CUSTOM DESIGN &nbsp;⇣ </a>
                        </div>
                        
                        <br><br>
                        <input type="file"> 

                        <br><br>

                         <p><u>Recommended design resolution 14x18 inches</u></p>

                         <br>

                         <div class="uploadbutton">
                            <a href="/CheckoutPage/checkout.html" class="btn-One"> Proceed to Checkout &nbsp;⇢</a>
                        </div>

                        <br><br><br>


                        <div class="dashedbutton">
                           <a href="#" class="btn-One"> Want Us to Design For You? &nbsp;⇢</a>
                       </div>

                    </div>



                </div>

            </div>



        </div>

    </div>


</body>

</html>