<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                {% for product in product %}
                <tr>
                    <th scope="row">{{}}</th>
                    <td></td>
                    <td>Otto</td>
                    <td><a href="#" class="btn ms-2 bg-warning">Edit</a><a href="#" class="btn bg-danger"></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>
</body>

</html>