<section class="container-fluid py-5 my-5" data-aos="zoom-in-up" style="background-color: #e5e5e5">
    <div class="text-center">
        <p class="text">
            Video: How to order ?
        </p> <br>

        <p class="text2">
            Watch a step-by-step video on how ordering your custom t-shirt from ButtaNepal works.
        </p>

        <img src="/static/image/index/loading.svg" class="loading" alt="img_loading">
    </div>
    <div class="video-container">
        <video class="video" src="/static/video/video.mp4" loop autoplay muted></video>
    </div>

    <div class="container pb-3">
        <div class="row g-1">
            <div class="col d-flex mx-5">
                <div class="col"><button class="btn py-2 btn-block ms-5" style="
          border-radius: 0px;
          background-color: #0066ca;
          color: white;
          width: 100%;
          height: 100%;
        "> Order my Custom T-shirt <img src="/static/image/index/arrow.svg" alt="img_arrow"></button>
                </div>
                <div class="col">

                </div>
                <div class="col"><button class="btn py-3 btn-block me-5" style="
          border-radius: 0px;
          background-color: #0066ca;
          color: white;
          width: 100%;
          height: 100%;
        "><span><img src="/static/image/index/play-circle-regular.svg" class="mx-2" height="22px"
                                width="22px"></span><u>Watch Video
                            in Nepali</u></button>
                </div>
            </div>
        </div>
    </div>
</section>