<html>

<head>
    <title>Thank You | ButtaNepal</title>
    <link rel="stylesheet" href="thankyou.css">
</head>

<body>
    <img src="/productpage/Butta Nepal/buttanepal transparent logo/3.png" height="50px" width="160px" alt="" class="logo">
    <h1 class="h1" style="color: #0066ca;">Thank You for Your Order</h1>
    <p1>We have received your order and we will ship it to you as soon as possible.</p1>

    <h2 class="h2">Average Shipping Times:</h2>
    <p class="p1">📍 Kathmandu Valley: 1-3 Business Days</p>
    <p>🇳🇵 Rest of Nepal: 3-7 Business Days</p>
    <p>🇮🇳 India: 5-10 Days</p>
    <p>🇦🇺 Australia: 7-14 Days</p>
    <p>🇺🇸 United States of America: 10-15 Days</p>
    <p>🌎 Rest of the World: 14-21 Days</p>
</body>
</html>